@media(min-width: 768px) and (max-width: 1199px) {
    .caption-home {
        font-family: "gotham-light";
        padding-bottom: 7%;
        padding-top: 7%;
        text-align: center;
        letter-spacing: 3px;
        margin-top: 40%;
    }
    .bg9f8562 {
        background: #9f8562;
        color: white;
    }
    .shopping-bag-margin {
        margin-top: 50px;
    }
    .container.product-box {
        padding-top: 2%;
        padding-right: 2px;
    }
    .show-sort{
        width: 27%;
    }
    .show-view{
        width: 17%;
    }
    section#all-product-footer {
        padding: 0 0 5% 0;
    }
    .text-bulkhead {
    /* margin-right: 10px; */
    font-size: 0.9em;
    letter-spacing: 0.5px;
    color: #a8a9ad;
}
    .img-responsive-featured{
        height:300px;
    }
    .close-dialog { height: 45px; }
    .padding-homebanner { padding-top: 10em; }
    .carousel { /* width: 94.5%; margin-left: 2.7%;*/ }
    /*.carousel-indicators { bottom: 18%; }*/
    .portfolio-modal .modal-content img.close-mobile { margin-bottom: 8px; }
    .close-mobile { width: 8%;float: right;padding-top: 2%;padding-right: 2%; }
    .footer.follow-us.icons.socmed img { width: 10%; }
    .row.product-detail.share-box.socmed img{ width: 5%; }
    .pleft1-ipad { padding-left: 1%; }
    .pright1-ipad { padding-right: 1%; }
    .pleftpagemobileshow{width: 200px;}
    .pleftpagemobilepag2{width: 120px;}
    .pleftpage2{width: 356.7188px; margin-right: 30px;}
    /*for discount ciew*/
    .discountview{/*margin-left: 46px;*/}
    .discountview1{width: 100%;/* margin-left: 50px;*/}
    .discountview2{font-style: italic; margin-left: 0%;}
    
    .nexticonpagin{    width: 13px; margin-bottom: 0px; padding-bottom: 1px;}
    .logo-mobile {width: 22rem;}
    
	/*email subscribe*/
	.email-subscribe{margin-right: 7%; width: 56%; margin-left: 10%;}
	.btn-subscribe{width: 18.5%; font-family: gotham-light; border-radius: 0; padding: 20.5px 12px;}
	.img-fb{width: 10.0156px; margin-right: 10px;}
	.img-twitter{width: 21.0156px; margin-right: 10px;}
	.img-instagram{width: 17.0156px; margin-right: 10px;}
	.img-pinterest{width: 15.0156px; margin-right: 10px;}
	.img-line{width: 35.0156px; margin-right: 10px;}
	.padding-img{padding-top: 5%;}
	.bulkhead-ipad{top:-18px;}
    
    a.blue-round {
    float: right;
    border: 1px solid #1d6068;
    cursor: pointer;
    border-radius: 20px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1.5px;
    font-size: 10px;
    background: #1d6068;
    color: #fff;
    /* width: 10%; */
}
	.brand-description-homepage {
    font-size: 0.6em;
    letter-spacing: 1px;
    line-height: 15px;
    font-family: "gotham-light";
    padding-top: 0;
}
    
    .category-brand-description {
    min-height: 211px;
}

	.carousel-caption p {
    font-size: 1em;
    line-height: 1.3em;
    font-family: gotham-light;
}
    .bulkhead-mobile {
    background-color: #1f6167;
    border-color: #1f6167;
    color: white;
    border-radius: 0;
    margin: 0;
    height: 55px;
}
	
    .sizeofbannersale{width: 760px;}
    .fromtopbannerposition{padding-top: 90px;}
    .navbar-header.page-scroll {
        width: 100%;
    }
    .cart-mobile {
        background: url('../img/icons/icon-cart-39.png');
        width: 39px;
        height: 39px;
        display: inline-block;
    }
    .search-mobile {
        background: url('../img/icons/icon-search-39.png');
        width: 39px;
        height: 39px;
        display: inline-block;
    }
    .search-chart{
        padding-top: 0px; padding-left: 130px;
    }
    .container.mn-header {
        width: 100%; 
        padding-left: 15px;
    }
    .burger {
            background: url(../img/icons/burger.png);
            width: 39px;
            height: 39px;
            display: inline-block;
    }
    .tag {
        float: right;
        position: absolute;
        right: 10px;
        top: 10px;
        margin-right: 15px;
    }
    .tag-bellow {
       
        position: absolute;
        height:32px;
        color:white;
        top: 278px;
        /*bottom: 0;*/
        margin-right: 15px;
        width: 88.5%;
    }
    .tag-mobile-home {
    position: absolute;
    height: 32px;
    color: white;
    top: 297px;
    /* bottom: 0; */
    margin-right: 15px;
    width: 93.5%;
}
    .text-bellow {
            position: absolute;
            height: 36px;
            top: 50%;
            left: 0;
            right: 0;
            margin-left: 12px;
            margin-top: -18px;
            line-height: 36px;
            text-align: left;
            font-family: "gotham-light";
            font-size: 0.8em;
            color: white;
    }
    .tag-collection {
        float: right;
        position: absolute;
        right: 10px;
        top: 4%;
        margin-right: 15px;

    }

    .text-discount { 
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -9px; 
        text-align: center;
        font-family: "gotham-medium";
        font-size: 1em;
        color: white;
    }

    .circle{
        width: 50px;
        height: 50px;
        background: #a21d22; 
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
    }
	
	.rounded{
        width: 100px;
        height: 50px;
        background: #404041; 
        -moz-border-radius: 70px; 
        -webkit-border-radius: 70px; 
        border-radius: 70px;
    }
    
    section#product-related {
        padding: 50px 0 50px 0;
    }
    
    section#breadcrumb {
        padding: 150px 0 0px 0;
    }
    
    section#product-details {
        padding: 0;
    }
    
    .mright3 { margin-right: 3%;}
    
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        font-style: italic;
        font-size: 0.8em;
        padding-top: 2px;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-style: italic;
        font-size: 0.8em;
        padding-top: 2px;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-style: italic;
        font-size: 0.8em;
        padding-top: 2px;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-style: italic;
        font-size: 0.8em;
        padding-top: 2px;
    }

    .terms-condition-description{
        letter-spacing: 1px;
        line-height: 2;
        font-size: 0.8em;
        text-align: left;
        color:#fff;
    }

    .quantity-out-of-stock {
        width: 30.3%;
        border: 1px solid;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 1em;
        margin-bottom: 5%;
        padding-left: 1%;
    }
    
    .pleft-4-ipad { padding-left: 4%; }
    .pright5-ipad { padding-right: 5px; }
    
    .pright75{
        /*padding-right: 7.5px;*/
    }

    .pleft75{
        /*padding-left: 7.5px;*/
    }

    .lspace-1mobile{
        letter-spacing: 1px;
    }

    .img-services-icon{
        width: 50%;
    }

    .carousel-indicators li{
        margin: 0px;
    }

    .fsize1-3rem{
        font-size: 1.3rem;
    }

    .shop-social-price{
        font-size: 1rem; letter-spacing: 0px;
    }

    button#more-desktop {
        font-family: "gotham-light";
        color: #fff;
        background-color: #000;
        border: 1px #fff solid;
        letter-spacing: 2px;
        padding: 1% 2% 1% 2%;
    }
    
    .margin-caption-instagram { height: auto; }
    
    .modal#shopSocialModal{
        background: white;
        top: 2%;
/*        left: 3%;
        right: 3%;*/
        bottom: 2%;
    }
    
    .portfolio-modal .modal-content { min-height: auto; }
    
    .shop-social-box { width: 100%; margin-top: 0; }

    .shop-social-follow {
        border: 1px solid;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 6%;
        padding-bottom: 6%;
        letter-spacing: 1px;
    }

    .shop-border {
        border-bottom: 1px solid;
        width: 100%;
    }

    .font-size-1{
        font-size: 1em;
    }

    .padding-right-1-5{
        padding-right: 1.5%;
    }

    .padding-left-1-5{
        padding-left: 1.5%;
    }

    .pleft-mobile-4{
        padding-left: 4%;
    }

    .text-to-right{
        text-align: right;
    }

    .text-to-center{
        text-align: center;
    }

    .modal-content-notifyme{
        background: white;
    }

    .arrow-filter{
        margin: 0px !important;
    }
    
    .arrow-filter.ipad {
        width: 10px;
        bottom: 0;
        left: 0;
        border-right: none;
        border-bottom: none;
        border-left: none;
        content: '';
        opacity: 0;
        display: block;
        float: none;
        margin-right: 0;
        margin-top: 0;
    }
    
    .close-filter{
        height: 60px;
    }

    .close-forgot{
        width: 5%;float: right;padding-top: 2%;
    }

    .forgot-title-modal{
        font-size: 1em;font-family: 'gotham-medium';border-bottom: 1px solid;padding-bottom: 3%;
    }

    .img-subscribe{
        width: 100%;
        height: 450px;
        overflow: hidden;
    }

    .modal.subscribe{
        position: fixed;
        top: 7%;
        /*right: 3%;*/
        bottom: 10%;
        /*left: 3%;*/
        z-index: 1050;
        display: none;
        -webkit-overflow-scrolling: touch;
        outline: 0;
    }

    .modal.forgot {
        position: fixed;
        top: 30%;
        right: 5%;
        bottom: 40%;
        left: 5%;
        z-index: 1050;
        display: none;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        background: white;
    }

    .modal.forgot.agreement {
        position: fixed;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: 1050;
        display: none;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        background: black;
        overflow: auto;
    }

    .modal.filter {
        position: fixed;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        z-index: 1050;
        display: none;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        outline: 0;
        background: white;
    }

    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
    }

    .popup-subscribe-title{
        text-align: center;
        margin-left: 0;
    }

    .popup-subscribe-title2{
        text-align: center;
    }

    .popup-subscribe-button{
        text-align: center;
    }

    .popup-subscribe-title-success{
        text-align: center;
    }

    .mn-header.btn-login{
        background: black;
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 30%;
        margin-right: 30%;
    }
	
	.subscribe-btn-ipad {
		background: black;
        color: white;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
		font-family: "gotham-light";
	}
    
    .mn-header.form-login {
        margin-left: 0;
        margin-bottom: 0;
    }
    
    .form-subscribe.email { margin-left: 0; margin-top: 3%; }
    
    .mn-header.form-login.firstname{
        padding-left: 10%;
        padding-right: 10%;

    }

    .modal-newsletter{
        background: white;
    }

    .pleft18.pagging-prev{
        padding-left: 0%;
    }

    .search-result-title{
        font-size: 1em;
        border-bottom: 1px solid black;
    }

    input.search-input{
        border-top: 0px;
        border-bottom: 1px solid black;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
        width: 180px;
        height: 22px;
    }

    input{
        border-radius: 0px;
    }

    input.search-input:focus{
        outline: none;
    }

    input:focus{
        outline: none;
        text-style: none;
    }

    .shopping-bag.creditcardform {
        /*margin-top: 15%;*/
    }

    input.cardholder {
        padding-left: 2%;
        width: 100%;
        height: 35px;
        margin-top: 3%;
        margin-bottom: 3%;
        border: black 1px solid;
    }

    .box-creditcard {
        border: 1px solid;
        padding-bottom: 5%;
        /*padding-top: 5%;*/
    }
    
    .shopping-bag img { padding-top: 5%; }
    
    .lock-icon {
        width: 40px;
        margin-bottom: 1%;
    }

    .secure-text {
        position: absolute;
        margin-top: -4rem;
        margin-left: 10%;
        font-size: 0.8em;
        padding-left: 3%;
    }

    .no-lineheight{
        line-height: 1.2;
    }

    .close-button-terms-conditions{
        width: 8%;float: right;padding-top: 2%;
    }

    td.collection-name{
        white-space: nowrap;
    }

    .product-header.border-collection {
        border-bottom: 1px solid;
        float: right;
        /*padding-top: 4%;*/
    }

    td.border-collection {
        width: 100%;
    }

    .collection-name {
        float: left;
        width: auto;
        text-transform: uppercase;
    }

    .push-menu-left{
        -webkit-transform: translate(300px, 0);
        -ms-transform: translate(300px, 0);
        transform: translate(300px, 0);
    }

    .push-menu-right{
        -webkit-transform: translate(-300px, 0);
        -ms-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
    }

    .right{
        text-align: right;
    }

    .no-spacing{
        letter-spacing: 0px;
    }

    .font-paging{
        font-size: 0.8em;
    }
    
    .edit.apply-code{
        padding: 0px;
        padding-bottom: 5px;
        padding-top: 6px;
        border: 1px solid black;
        border-left: 0px;
        width: 100%;
        text-align: center;
        background: white;
        color: black;
    }
    
    a.edit.apply-code {
        height: 24px;
        font-size: 0.8em;
        border-left: 0;
    }
    
    .checkbox-btn.agreement-checkbox{
        padding-left: 10px;
    }

    .navbar-custom{
        width: 100%;
        background-color: transparent;
        position: absolute;
        margin-top: 2%;
    }

    .menu-mobile {
        display: block;
    }

    .img-full-width{
        width: 100%;
    }

    .menu-mobile.menu-left {
        /*padding-top: 1rem;*/
    }

    section {
        padding: 40px 0;
    }

    section#category, section#featured-brands {
        padding: 0 0;
    }
    
    section#featured-brands {
        padding-top: 5%;
    }
    
    section#services, section#featured-brands {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
    }

    section#breadcrumb {
        padding-bottom: 150px 0 0 0;
    }

    section#shopping-bag {
        padding-top: 12rem;
        padding-bottom: 0px;
    }
    
    .ptop4 {
        padding-top: 4%;
    }

    .about-title{
        font-size: 1.5em;
        padding-bottom: 10%;
    }

    .breadcrumb-page {

        text-align: center;
        font-family: "gotham-light";
    }

    .battery, .installment { border-right: 1px solid; }
    .img-services {padding-left: 0px; padding-right: 0px; text-align: center;}
    .services {padding-left: 0px; padding-right: 0px; text-align: center; font-family: "gotham-medium"; font-size: 0.8rem;}
    .services.caption { padding-right: 10%; }
    .services.block{
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;
    }

    .category.block {
        margin-bottom: 0;
    }

    .category.img-block{
        padding: 0px;
    }

    .category.img-block.category.caption{
        text-align: center;
    }
    .category.caption {
        padding-top: 10%;
    }
    
    .category.img-block, .category.block {
        padding-right: 5px;
    }
    
    .img-brands{
        display: block;
        max-width: 100%;
        height: auto;
    }

    .img-brand-icon{
        width: 45% !important;
    }

    .featured-brands.caption.left{
        /*border-bottom: 1px solid;*/
        padding-top: 1rem;
    }

    .featured-brands.caption.right{
        /*border-bottom: 1px solid;*/
        padding-top: 1rem;
    }

    .featured-brands.caption{
        font-family: "gotham-medium";
        font-size: 79%;
        text-align: center;
        letter-spacing: 0.05em;
    }

    .row.btn-brands { text-align: center; margin-top: 5%;}

    #all-brands-btn {
        font-family: "gotham-light";
        color: #fff;
        margin-top: 5%;
        margin-left: 0;
        width: 13%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        padding-left: 4%;
        background: #000;
        font-size: 0.8em;
        padding-right: 4%;
        letter-spacing: 2px;
    }

    footer{
        background: #F5F5F5;
        margin-bottom: 0px;
        padding: 25px 0;
    }

    .footer.caption {
        font-family: "gotham-medium";
        font-size: 2em;
        text-align: center;
    }

    .footer-mobile-link{
        font-family: "gotham-light";
        font-size: 1.5rem;
        text-align: center;
    }

    .footer-mobile-link-content{
        margin-bottom: 3%;
    }

    .footer-title{
        font-family: "gotham-medium";
        font-size: 1em;
        letter-spacing: 2px;
    }

    .footer.newsletter.caption{
        font-family: "gotham-light";
        font-size: 1.5rem;
        text-align: left;
        padding-right: 0px;
    }

    .footer.newsletter.email {
        float: left;
        height: 30px;
        font-size: 1.5em;
        padding-left: 0%;
        background: #F5F5F5;
        border: 1px solid #000;
		border-bottom: 2px solid rgba(0, 0, 0, 0.58);
    /* border: 0px solid #000; */
		border-right-width: 0px;
		border-left-width: 0px;
		border-top-width: 0px;
        font-family: "gotham-light";
        width: 60%;
        margin-top: 7%;
        letter-spacing: 1px;
    }

    .input-group-addon.subscribe-newsletter {
        margin-top: 3.5%; cursor: pointer; float: left; border: 2px solid rgba(0, 0, 0, 0.58); padding-bottom: 2.4%; padding-right: 1.5%;
    }


    .input-newsletter{
        padding-left: 0px;
    }

    .day, .month, .year{
        width: 100%;
    }

    .footer.follow-us.icons{
        /*border-top: 1px solid;*/
        padding-top: 5%;
        margin-top: 5%;
    }

    .icon-follow-us{
        margin-right: 5%;
    }

    input.email {
        padding-left: 5%;
        width: 100%;
        height: 24px;
        border: 1px solid;
        font-family: 'gotham-light';
        font-size: 1.2em;
    }
    input.email-event {
        padding-left: 5%;
        width: 100%;
        height: 32px;
        /*border: 1px solid;*/
        font-family: 'gotham-light';
        font-size: 1.2em;
    }
    
    .checkbox-btn.agreement-checkbox.ipad { padding-top: 0; }
    
    textarea{
        padding-left: 2%;
        width: 100%;
        font-style: italic;
        border: 1px solid;
    }
    
    a.edit {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #000;
        color: #fff;
        font-family: "gotham-light";
        font-size: 1rem;
        float: right;
    }
    
    a.edit.ipad {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #000;
        color: #fff;
        font-family: "gotham-light";
        font-size: 1rem;
        float: right;
        margin-top: 4%;
    }

    .customer-after-sales{
        /*margin-top: 10%;*/
    }
    
    .title-contact-us{
        font-style: bold;
        border-bottom: 2px solid black;
        padding-bottom: 3%;
        margin-bottom: 5%;
        font-size: 1.5em;
    }
    
    .contact-us-left, .contact-us-right {
        width: auto;
    }

    select.qty, select.qty-mobile, select.color, .qty-dropdown{
        font-family: "gotham-medium";
        padding: 5px 16% 5px 8px;
        z-index: 2;
        position: relative;
        line-height: 115%;
        letter-spacing: 1px;
        border: 1px solid #bfbfbf;
        background: url(../img/icons/down-combo-copy.png) no-repeat right #FFFFFF;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: .01px;
        text-overflow: '';
        border-radius: 0;
    }

    select.color:disabled, select.qty:disabled, select.size:disabled{
        font-family: "gotham-medium";
        padding: 5px 16% 5px 8px;
        z-index: 2;
        position: relative;
        line-height: 115%;
        letter-spacing: 1px;
        border: 1px solid #bfbfbf;
        background: url(../img/icons/down-combo-copy.png) no-repeat right #BFBFBF;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: .01px;
        text-overflow: '';
        border-radius: 0;
    }

    .journal-container{
        padding: 0px;
    }

    .journal-caption{
        margin-top: 5%;
    }

    .journal-caption-writer{
        margin-bottom: 10%;
    }

    .journal.detail.title{
        font-size: 1.5em;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .journal.detail.content{
        margin-bottom: 5%;
    }
    
    .related-journal.caption.left,
    .related-journal.caption.right{
        border-bottom: 1px solid;
        padding-top: 1%;
    }

    .journal-related-header{
        margin-bottom: 2%;
        padding-right: 15px;
    }
    
    span.text-filter {
        padding-left: 0;
    }
    
    .related-journal.caption{
        font-family: "gotham-medium";
        font-size: 0.85em;
    }

    .journal.writer.tag{
        margin-bottom: 10%;
    }

    .journal.publish.related{
        margin-top: 3%;
    }

    .journal-detail-dash{
        text-align: center;
    }

    .journal.detail.separator{
        padding-top: 10%; 
    }
    .share-journal{
        border-top: 1px solid;
        padding-top: 5%;
        margin-bottom: 20%;
    }
    .kontes-banner{
        padding-top: 13%;
    }
        .kontes-title{
        margin-top: 80px;font-size: 1.5em;margin-bottom: 15px;letter-spacing: 1px;text-align: center;
    }
    .kontes.reward-title{
        padding-top: 10px;padding-bottom: 20px;color:#a08361;text-align: center;
    }
    button.kontes-button{
             padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 30px;
            background-color: #206167;
            color: white;
            font-size: 1.3em;
            letter-spacing: 1px;
            margin-top: 40px;
            border:2px solid #206167;text-align: center;
    }
    button.kontes-button:hover{
             padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
            border-radius: 30px;
            background-color: #fff;
            color: #206167;
            border:2px solid #206167;text-align: center;
    }
    .kontes-konten{
        padding-top: 30px;padding-bottom: 15px;letter-spacing: 1px;
    }

    .image-featured-banner {
        position:relative;
        text-align:center;
    }

    .overlay-text {
        position: absolute;
        margin: auto;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        color:#fff;
        height:auto;
        vertical-align: middle;
        /*background: rgba(0, 0, 0, 0.3);*/

    }

    .row.brand-banner {
        height: 22%;
        margin-right: 0px;
    }

    .carousel.slide.brand{
        margin-top: 12rem;
    }

    section#brand-description{
        margin-top: 20%;
        padding-bottom: 0px;
    }

    section#brand-description.brand-desc-detail{
        margin-top: 0px;
        padding-top: 3rem;
    }

    .brand-logo, .brand-name-full{
        text-align: center;
    }

    .brand-name-full{
        border-bottom: 1px solid;
        padding-bottom: 3%;
        margin-bottom: 7%;
    }

    .brand-description{
        text-align: center;
        font-family: "gotham-light";
        border-top: none;
    }

    span.brand-name{
        font-family: "gotham-medium";
    }

    span.brand-country{
        font-family: "gotham-light";
    }
    
    a.filter {
        border: 1px solid;
        cursor: pointer;
        padding: 6px 11px;
        letter-spacing: 2px;
        background: #000;
        color: #fff;
        width: 15%;
    }
    
    a.filter.center-position-ipad { float: none; }

    .product-header.border{
        border-bottom: 1px solid;
        margin-top: 2%;
    }

    .collection-name{
        padding-left: 0px;
        font-family: "gotham-medium";
    }

    .container.product-collection{
        margin-bottom: 5%;
    }

    .col-xs-6.space{
        text-align: center;
        font-family: "gotham-light";
    }

    .product.product-name, .product.product-price{
        font-family: "gotham-medium";
        font-size: 0.8em;
        letter-spacing: 0.15em;
    }

    .carousel-indicators .active {
        background-color: #000;
        margin-right: 15px;
    }

    .carousel-indicators li {
        display: inline-block;
        background-color: #000 \9;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 10px;
        border: 1px solid black;
        margin-right: 15px;
    }

    .product-detail.product-name{
        padding-left: 0px;
        font-family: "gotham-medium";
        margin-bottom: 1%;
    }
    .product-detail.product-price{
        padding-left: 0px;
        font-family: "gotham-light";
        margin-bottom: 2%;
        font-size: 0.8em;
    }
    .product-detail.product-out {
        padding: 0;
        font-family: "gotham-light";
        font-size: 0.8em;  
        color:#818183;
        padding-bottom: 3%;

     }
    .product-detail.product-installment {
        padding-top: 0;
        padding: 0;
        font-family: "gotham-light";
        font-size: 0.8em;  
        color:#998761;
         padding-bottom: 3%
     }
    
    .clearleft-ipad { padding-left: 0; }
    
    .product-detail.product-name {
        font-size: 1.2em;
    }
    
    .product-detail.brand-name, .product-description-text, .contain-spesification{
        padding-left: 0px;
        font-family: "gotham-light";
    }

    .product-detail.brand-name.brand{
        border-bottom: 1px solid black;
        padding-bottom: 3%;
    }

    .product-detail.brand-name.price{
        /*margin-top: 3%;*/
        margin-bottom: 1%;
    }

    .product-detail.product-description, .product-detail.product-description-after, .product-detail.product-spesification, .product-detail.product-spesification-after{
        padding-left: 0px;
        font-family: "gotham-medium";
    }

    .product-detail.product-description, .product-detail.product-description-after, .product-detail.product-spesification, .product-detail.product-spesification-after{
        /*margin-top: 3%;*/
        padding-right: 0px;
        /*margin-bottom: 3%;*/
    }

    .product-detail.product-description-after, .product-detail.product-spesification-after, .contain-spesification{
        display: none;
    }

    .product-detail.product-spesification, .product-detail.product-spesification-after{
        border-top: 1px solid black;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .product-detail.product-spesification, .contain-spesification{
        border-bottom: 1px solid black;
    }

    .contain-spesification{
        padding-bottom: 5%;
    }

    .product-select, .product-detail.product-notifyme{
        padding-left: 0px;
        padding-right: 0px;
    }

    .qty, .color, .size{
        width: 30.3%;
        font-size: 0.8em;
    }

    .qty-mobile{
        width: 100%;
    }

    .qty-dropdown{
        width: auto;
    }

    .ardown, .artop, .artop-desc, .ardown-desc {
        float: right;
    }

    table{
        width: 100% !important;
    }

    a.addtocart, button.addtocart {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #9e8461;
        color: #fff;
        font-family: "gotham-medium";
        font-size: 0.8em;
        float: right;
        /*width: 61%;*/
        text-align: center;
    }
    a.addtocartevent, button.addtocartevent {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #9e8461;
        color: #fff;
        font-family: "gotham-medium";
        font-size: 0.8em;
        float: right;
        /*width: 61%;*/
        text-align: center;
    }

    .product-detail.product-notifyme, .product-detail.product-addtocart{
        /*margin-top: 5%;*/
    }
    
    .product-detail.product-addtocart, .product-detail.product-notifyme {
        padding-top: 0;
    }

    .product-header {
        font-family: "gotham-medium";
        font-size: 1em;
    }

    .product-header.border-related {
        border-bottom: 1px solid;
        padding-top: 1.8%;
        float: right;
    }

    .related-item-header{
        padding-right: 15px;
        margin-bottom: 5%;
    }

    .space.related.left{
        padding-left: 0px;
    }

    .space.related.right{
        padding-right: 0px;
    }

    .modal.notifyme {
        top: 30%;
        bottom: 30%;
        left: 20%;
        right: 20%;
    }

    .modal-content{
        border-radius: 0px;
    }

    .modal-backdrop.in{
        opacity: 1;
    }

    .clearleft.clearright.name-email.notify-me{
        padding-top: 0 !important;
    }

    .background-close-notifyme{
        background: white;
    }

    .close-notifyme{
        width: 6%;float: right;padding-top: 2%;
    }

    .modal-title-notify{
        text-align: center;font-family: 'gotham-light';border-bottom: 1px solid;padding-bottom: 4%;
    }

    .clearleft.clearright.name-email{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 15% !important;
    }

    .clearleft.clearright.name-email-header{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5% !important;
    }

    .customer-login.email.notify{
        padding-left: 0px;
    }

    .customer-login.email.clearright{
        padding-right: 0px;
    }

    a.continue, a.checkout {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #000;
        color: #fff;
        font-family: "gotham-light";
        font-size: 0.6em;
    }

    a.checkout{
        float: right;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1rem;
    }

    a.continue{
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1rem;
    }
    
    a.continue.proceed-signin{
        font-size: 0.7rem;
    }
    
	.margin-top-15-ipad { margin-top: 15%; }
    .margin-top-5 { margin-top: 5px; }
    .margin-top-3 { margin-top: 3%; }
    
    .brand-title{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        font-family: "gotham-light";
        /*margin-top: 10%;*/
        font-size: 0.9em;
    }

    .product-name{
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-price{
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 15%;
    }

    .border-paging{
        border-top: 1px solid black;
        padding-top: 5%;
        margin-right: 15px;
        margin-left: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .paging-left{
        padding-left: 0px;
    }

    .border-menu{
        border-bottom: 2px solid black;
        padding-top: 4%;
        padding-right: 30px;
        padding-left: 30px;
    }

    .font-menu{
        font-family: 'gotham-medium';
        padding-right: 0px;
    }

    .slidedown-menu{
        margin-top: 16px;
        font-family: 'gotham-light';
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 3%;
        border-bottom: 1px solid black;
        letter-spacing: 0.05em;
    }

    .slidedown-menu.after{
        margin-top: 5%;
    }

    .list-menu{
        min-height: 100px;
        max-height: 300px;
        overflow: scroll;
        margin-bottom: 5%;
        display: none;
    }

    .list-menu-faq{
        display: none;
    }

    ol {
        padding: 20px;
        font-family: 'gotham-light';
    }

    ol li {
        padding: 5px;
        margin-left: 35px;
        font-family: 'gotham-light';
    }

    .outside-menu{
        font-family: 'gotham-light';
        padding-right: 12px;
        padding-left: 12px;
        margin-top: 15%;
    }

    .outside-menu.after{
        margin-top: 5%;
    }

    .sign-up-menu{
        padding-right: 15px;
        padding-left: 15px;
        display: none;
    }

    .sign-up-menu-title{
        padding-left: 0px;
        padding-right: 0px;
        border-bottom: 1px solid black;
        padding-bottom: 3%;
        margin-top: 10%;
    }

    .sign-up-login-text{
        float: right;
        font-family: 'gotham-light'
    }

    .login-signup-content{
        padding-left: 0px; padding-right: 0px; margin-top: 10%;
    }

    .remove-padding{
        padding: 0px;
    }

    .login-change{
        padding-top: 5%;
        padding-bottom: 5%;
        border: 1px solid black;
        font-family: 'gotham-light'
    }

    .input-forgot-password{
        margin-top: 10%; margin-bottom: 10%; text-align: center;
    }

    .bg-black-text-white{
        background: black; color: white;
    }

    .bg-white-text-black{
        background: white; color: black;
    }

    .login-text{
        padding-left: 0px; font-family: 'gotham-light'
    }

    .remove-padding-right{
        padding-right: 0px;
    }

    .remove-padding-left{
        padding-left: 0px;
    }

    .btn-login-menu{
        background: black; color: white; padding-top: 2%; padding-bottom: 2%;
    }

    .font-size-8{
        font-size: 0.8em;
    }

    .margin-bottom-3{
        margin-bottom: 3%;
    }

    .margin-bottom-5{
        margin-bottom: 5%;
    }
    
    .margin-bottom-5.ipad{
        margin-bottom: 3%;
    }
    
    .step-purchase.separator { padding-top: 2%; }

    .margin-bottom-10{
        margin-bottom: 10%;
    }
    
    .margin-bottom-10.ipad{
        margin-bottom: 10px;
    }

    .padding-top-2{
        padding-top: 2%;
    }

    .padding-top-5{
        padding-top: 5%;
    }
    
    .padding-top-5.ipad{
        padding-top: 0;
    }

    .padding-bottom-2{
        padding-bottom: 2%;
    }

    .padding-bottom-8{
        padding-bottom: 8%;
    }

    .faq-list{
        font-family: 'gotham-medium';
        margin-top: 5%;
        padding-bottom: 5%;
        border-bottom: 1px solid black;
    }

    .myprofile{
        font-family: 'gotham-light';
        /*margin-top: 3%;*/
        margin-bottom: 3%;
        font-size: 95%;
    }

    .btn-edit-profile{
        padding-right: 0px;
    }

    .select-menu-profile{
        border-bottom: 1px solid black; padding-bottom: 5%;
    }

    .margin-30{
        margin-left: 30px; margin-right: 30px;
    }

    .margin-15{
        margin-left: 15px; margin-right: 15px;
    }

    .customer-info-address{
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .btn-edit-delete-shipping{
    }

    .text-italic{
        text-decoration: italic;
    }

    .title-shipping{
        font-family: 'gotham-medium'; font-size: 1.3em;
    }
    
    .border-top-button{
        border-top: 1px solid black;
    }
    
    .border-top-button.ipad{
        border-top: none;
    }

    .view-cart-title{
        font-family: 'gotham-medium'; margin-top: 10%; border-bottom: 1px solid black; padding-bottom: 5%;
    }

    .cart-empty{
        font-family: "gotham-light"; border-bottom: 1px solid black; margin-top: 5%; padding-bottom: 5%; color: #cccccc
    }

    .box-cart-list{
        font-family: "gotham-light"; margin-top: 5%; padding-bottom: 5%;
    }
    
    .myitem.box.ipad { padding: 1% 0 0% 0; }
    
    .border-bottom-1{
        border-bottom: 1px solid black;
    }
    
    .border-bottom-1.ipad{
        padding-bottom: 0;
        margin-bottom: 1%;
        border-bottom: none;
    }

    .text-gotham-medium{
        font-family: 'gotham-medium';
    }

    .text-gotham-light{
        font-family: 'gotham-light';
    }

    .padding-top-3{
        padding-top: 3%;
    }

    .padding-bottom-3{
        padding-bottom: 3%;
    }

    .padding-bottom-5{
        padding-bottom: 5%;
    }

    .my-cart-title{
        text-align: center;
        font-family: 'gotham-medium';
    }

    .shopping-bag.header{
        letter-spacing: 0px;
        font-size: 1em;
    }

    .shopping-bag.header.quantity{
        text-align: center;
    }

    .shopping-bag.header.unit-price{
        text-align: right;
    }

    .shopping-bag.img-shopping-bag{
        padding-left: 0px;
    }

    .shopping-bag.product-qty{
        text-align: center;
        /*margin-top: 15%;*/
    }

    .shopping-bag.total-price{
        text-align: right;
        letter-spacing: 0px;
        padding-left: 10%;
    }
    
    .remove-product {
        padding-left: 12%;
    }

    .carousel.slide.brand{
        height: 300px;
        width: 93%;
    }

    .carousel-indicators{
        padding-bottom: 0px;
        padding-right: 0px;
        left: 51.5%;
    }

    .product-detail.product-name, .product-detail.product-price{
        text-align: left;
    }

    .product-detail.product-price{
        margin-bottom: 0px;
    }

    .shopping-bag.item-total.currency, .shopping-bag.item-total.value, .shopping-bag.grand-total.currency, .shopping-bag.grand-total.purchase{
        text-align: right;
        letter-spacing: 0px;
    }

    .row.shopping-bag.footer{
        margin-top: 5%; border-top: 1px solid black; padding-bottom: 3%; margin-left: 0px; margin-right: 0px;
    }

    .shopping-bag.title{
        text-align: center;
        font-family: gotham-medium;
        font-size: 1.2em;
    }

    .customer-login.login-box{
        margin-top: 8%;
        font-family: gotham-medium;
        padding-bottom: 3%;
        border-bottom: 1px solid black;
        padding-left: 0px;
        font-size: 1.2rem;
    }

    .customer-login.email.remove-padding, .customer-signin.email{
        /*margin-top: 5%;*/
    }

    .customer-login.email, .customer-login.password{
        font-family: 'gotham-light';
        font-size: 1rem;
    }
    
    .customer-signin.cpassword {
        padding-bottom: 0;
    }
    
    .password.password-signin{
        padding-left: 5%;
        width: 100%;
        height: 24px;
        border: 1px solid;
        font-family: 'gotham-light';
        font-size: 1.2em;
    }

    .step-purchase.step.separator{
        border-bottom: 1px solid black;
        /*margin-top: 8%;*/
    }

    .step-purchase.title{
        font-size: 1.5rem;margin-bottom: 3%; font-family: gotham-medium; text-align: center; border-bottom: 1px solid black; padding-bottom: 5%;
    }
    
    .row.step-purchase {
        padding: 0 15% 5% 15%;
    }
    
    .step-purchase.shipping.box {
        padding-top: 0;
    }
    
    .step-purchase.shipping.box.ipad {
        padding-top: 2%;
    }
    
    select.shipping, select.installmentplan {
        padding: 5px 16% 5px 8px;
        width: 100%;
        z-index: 2;
        position: relative;
        line-height: 115%;
        letter-spacing: 1px;
        border: 1px solid #000;
        background: url(../img/icons/down-copy.png) no-repeat right #FFFFFF;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: .01px;
        text-overflow: '';
        border-radius: 0;
        font-family: "gotham-light";
    }

    .btn-submit {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 10px;
        letter-spacing: 2px;
        background: black;
        color: white;
        font-family: "gotham-light";
        font-size: 0.8rem;
        float: right;
        margin-top: 4%;
    }
    
    .margin-top-4.ipad { margin-top: 4%; }
    
    .ordercomplete.text { padding-top: 0; margin-bottom: 0; }

    #card-expiry-month, #card-expiry-year{
        font-size: 0.6em;
    }

    #payment_method{
        font-size: 0.8em;
    }

    .step-purchase.shipping.step{
        padding-left: 18%;
        padding-right: 12%;
    }

    .step-purchase.shipping.customer-name{
        text-transform: uppercase;
        font-size: 1.2rem;
        padding-top: 0.35rem;
    }
    
    .step-purchase.shipping.customer-contact, .step-purchase.shipping.tools { padding-left: 10.5%; }
    
    .step-purchase.shipping.tools{
        border-bottom: 1px solid black;
        padding-bottom: 5%;
        margin-bottom: 3%;
    }
    
    .step-purchase.shipping.tools { padding-top: 1%; }

    a.shipping-information {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #000;
        color: #fff;
        font-family: "gotham-light";
        font-size: 1rem;
        float: left;
        margin-top: 4%;
    }
    
    a.shipping-information.ipad {
        margin-top: 0;
    }

    .logo-payment{
        width: 80%;
    }

    .modal-content.agreement{
        background: black;
        height: 100%;
    }

    .padding-terms-conditions{padding-left: 0px; padding-right: 0px;}
    .terms-conditions-title{color: #fff;font-size: 1.5em;font-family: 'gotham-medium';padding-bottom: 10%; letter-spacing: 2px; text-align: center;}
    .terms-conditions-sub-title{color: #fff;font-size: 1em;font-family: 'gotham-medium';border-bottom: 1px solid;padding-bottom: 4%;letter-spacing: 2px; text-align: center; margin-top: 10%;}

    .myorder.detail.header {
        font-family: "gotham-medium";
        background: #000;
        color: #fff;
        text-align: center;
        padding: 2% 0;
        letter-spacing: 3px;
        font-size: 1.3rem;
    }

    .myorder.detail.box {
        border: 1px solid;
    }

    .myorder.detail.form.first {
        padding-top: 7%;
    }

    .myorder.detail.form {
        padding-top: 7%;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.3rem;
    }

    .myorder.detail.form.caption {
        padding-top: 4%;
    }

    .myorder.detail.form.text {
        padding-top: 4%;
        padding-left: 0;
    }

    .myorder.detail.item.header {
        font-family: "gotham-medium";
        background: #fff;
        color: #000;
        text-align: left;
        letter-spacing: 0;
        font-size: 1.3rem;
    }

    .myorder.detail.item.header.qty {
        text-align: center;
        width: 15%;
        letter-spacing: 0;
    }

    .myorder.detail.item.header.price {
        text-align: right;
    }

    .myorder.detail.item.header.value {
        font-family: "gotham-light";
        background: #fff;
        color: #000;
        padding-bottom: 1%;
        font-size: 1.2rem;
    }

    a.back {
        border: 1px solid;
        cursor: pointer;
        padding: 11px 20px;
        letter-spacing: 2px;
        background: #000;
        color: #fff;
        font-family: "gotham-medium";
        font-size: 0.8em;
        float: left;
    }

    .portfolio-modal.modal.fade.confirmation.in{
        background: white;
    }

    .title-confirmation-transaction-modal{
        font-size: 1em;font-family: 'gotham-light';border-bottom: 1px solid;padding-bottom: 5%; text-align: center; margin-bottom: 5%;
    }

    .customer-login.email.remove-padding.text-left{
        margin: 0px;
    }

    .close-button-modal{
        width: 8%;
        float: right;
        padding-top: 2%;
    }
    
    .c-menu {
        position: fixed;
        z-index: 200;
        background-color: #fff;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .c-menu--slide-left,
    .c-menu--slide-right,
    .c-menu--push-left,
    .c-menu--push-right {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .c-menu__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .c-menu--slide-left,
    .c-menu--slide-right,
    .c-menu--push-left,
    .c-menu--push-right {
        width: 300px;
    }


    .c-menu--slide-left .c-menu__item,
    .c-menu--slide-right .c-menu__item,
    .c-menu--push-left .c-menu__item,
    .c-menu--push-right .c-menu__item {
        display: block;
        text-align: center;
        border-top: solid 1px #b5dbe9;
        border-bottom: solid 1px #3184a1;
    }
    .c-menu--slide-left .c-menu__item:first-child,
    .c-menu--slide-right .c-menu__item:first-child,
    .c-menu--push-left .c-menu__item:first-child,
    .c-menu--push-right .c-menu__item:first-child {
        border-top: none;
    }
    .c-menu--slide-left .c-menu__item:last-child,
    .c-menu--slide-right .c-menu__item:last-child,
    .c-menu--push-left .c-menu__item:last-child,
    .c-menu--push-right .c-menu__item:last-child {
        border-bottom: none;
    }

    .c-menu--slide-left .c-menu__link,
    .c-menu--slide-right .c-menu__link,
    .c-menu--push-left .c-menu__link,
    .c-menu--push-right .c-menu__link {
        display: block;
        padding: 12px 24px;
        color: #fff;
    }
    
    .step-purchase.shipping.field-ipad {
        padding-top: 0;
        padding-bottom: 3%;
    }

    .c-menu--slide-left .c-menu__close,
    .c-menu--slide-right .c-menu__close,
    .c-menu--push-left .c-menu__close,
    .c-menu--push-right .c-menu__close {
        display: block;
        padding: 12px 24px;
        width: 100%;
    }

    /**
     * Slide/Push Menu Left.
     */
    .c-menu--slide-left,
    .c-menu--push-left {
        top: 0;
        left: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

    .c-menu--slide-left,
    .c-menu--push-left {
        -webkit-transform: translateX(-300px);
        -ms-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
    }

    .c-menu--slide-left.is-active,
    .c-menu--push-left.is-active {
        -webkit-transform: translateX(0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    /**
     * Slide/Push Menu Right.
     */
    .c-menu--slide-right,
    .c-menu--push-right {
        top: 0;
        right: 0;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }

    .c-menu--slide-right,
    .c-menu--push-right {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
    }


    .c-menu--slide-right.is-active,
    .c-menu--push-right.is-active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        display: block;
    }


    .c-menu--slide-top,
    .c-menu--slide-bottom,
    .c-menu--push-top,
    .c-menu--push-bottom {
        vertical-align: middle;
        width: 100%;
        height: 60px;
        text-align: center;
        overflow-x: scroll;
    }

    .c-menu--slide-top .c-menu__items,
    .c-menu--slide-bottom .c-menu__items,
    .c-menu--push-top .c-menu__items,
    .c-menu--push-bottom .c-menu__items {
        display: inline-block;
        text-align: center;
    }

    .c-menu--slide-top .c-menu__item,
    .c-menu--slide-bottom .c-menu__item,
    .c-menu--push-top .c-menu__item,
    .c-menu--push-bottom .c-menu__item {
        display: inline-block;
        line-height: 60px;
    }

    .c-menu--slide-top .c-menu__link,
    .c-menu--slide-bottom .c-menu__link,
    .c-menu--push-top .c-menu__link,
    .c-menu--push-bottom .c-menu__link {
        display: block;
        padding: 0 4px;
        color: #fff;
    }

    .c-menu--slide-top .c-menu__close,
    .c-menu--slide-bottom .c-menu__close,
    .c-menu--push-top .c-menu__close,
    .c-menu--push-bottom .c-menu__close {
        display: inline-block;
        margin-right: 12px;
        padding: 0 24px;
        height: 60px;
        line-height: 60px;
    }

    /**
     * Slide/Push Menu Top.
     */
    .c-menu--slide-top,
    .c-menu--push-top {
        top: 0;
        left: 0;
        -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    .c-menu--slide-top.is-active,
    .c-menu--push-top.is-active {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    /**
     * Slide/Push Menu Bottom.
     */
    .c-menu--slide-bottom,
    .c-menu--push-bottom {
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
        transform: translateY(60px);
    }

    .c-menu--slide-bottom.is-active,
    .c-menu--push-bottom.is-active {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    /**
     * Wrapper states.
     *
     * Various wrapper states occur depending on if a menu is pushing into view, in
     * which case, the wrapper has to be pushed by the respective distance.
     */
    .o-wrapper.has-push-left {
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);

    }

    .o-wrapper.has-push-left {
        -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
        transform: translateX(300px);
    }


    .o-wrapper.has-push-right {
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    .o-wrapper.has-push-right {
        -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        transform: translateX(-300px);
    }


    .o-wrapper.has-push-top {
        -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
        transform: translateY(60px);
    }

    .o-wrapper.has-push-bottom {
        -webkit-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
        transform: translateY(-60px);
    }

    /**
     * Body states.
     *
     * When a menu is active, we want to hide the overflows on the body to prevent
     * awkward document scrolling.
     */
    body.has-active-menu {
        overflow: hidden;
    }

    .c-menu__close {
        color: #fff;
        background-color: #3184a1;
        font-size: 14px;
        border: none;
        box-shadow: none;
        border-radius: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    .c-menu__close:focus {
        outline: none;
    }

    .c-mask {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0;
        height: 0;
        background-color: #000;
        opacity: 0;
        -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
        transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    }

    .c-mask.is-active {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    /* -----------------------------------------------------------------------------
    
      BUTTONS
      
    ----------------------------------------------------------------------------- */
    .c-buttons {
        margin-bottom: 48px;
        text-align: center;
    }

    .c-button {
        display: inline-block;
        margin: 4px;
        padding: 12px 24px;
        color: #fff;
        background: none;
        font-size: 14px;
        border: solid 2px #fff;
        box-shadow: none;
        border-radius: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }

    .c-button:focus {
        outline: none;
    }

    .c-button:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
	/*pagination Journal*/
    .position-pagination{padding-left: 45%; margin-top: 10%; right:15%; padding-right: 0px; padding-left: 0px; font-size: 12px; }
    .line-pagination{width: 35px; border-top: 1px solid #131313; margin-top: 8px;}
    .without-next-pagination1{right: 15%;}
	.without-next-pagination3{right: 9%;}
    .without-next-pagination4{right: 10%;}
    .without-next-pagination5{right: 12%;}
}

@media(min-width: 1024px) and (max-width: 1024px) {
    .padding-homebanner { padding-top: 12em; }
    .modal-content.agreement{
        background: black;
        height: 100%;
    }
    .terms-condition-description{
        letter-spacing: 1px;
        line-height: 2;
        font-size: 0.8em;
        text-align: left;
        color:#fff;
    }
    .bg9f8562 {
        background: #9f8562;
        color: white;
    }
    .shopping-bag-margin {
        margin-top: 80px;
    }
    .category-brand-description {
        min-height: 274px;
    }
    .footer.follow-us.icons.socmed img { width: 7%; }
    .footer.follow-us.icons { padding-top: 2%; margin-top: 2%; }
    .modal.subscribe { left: 30%; right: 30%; top: 2%; bottom: 2%; }
    .img-subscribe { height: 350px; }
    .product-detail.share { font-size: 0.8em; }
    .carousel.slide.brand { height: 400px; }
    .brand-name-full { margin-bottom: 0; }
    .container.product-collection { margin-bottom: 0; }
    .row.shopping-bag.footer { margin-top: 3%; }
    .margin-bottom-5.ipad-1024 { margin-bottom: 3%; }
    .padding-bottom-5.ipad-1024 { padding-bottom: 3%; }
    .padding-top-5.ipad-1024 { padding-top: 3%; }
    .step-purchase.shipping.customer-contact, .step-purchase.shipping.tools { padding-left: 8%; }
    .journal-related-header { margin-bottom: 2%; }
    .close-dialog { height: 45px; }
    
    .sizeofbannersale{width: 1010px;}
    .fromtopbannerposition{padding-top: 90px;}
	
	/*pagination Journal*/
    .position-pagination{padding-left: 60%; margin-top: 7%; font-size: 12px; }
    .line-pagination{width: 35px; border-top: 1px solid #131313; margin-top: 8px;}
    .without-next-pagination3{right: 9%;}
    .without-next-pagination4{right: 10%;}
    .without-next-pagination5{right: 12%;}
    .with-prev-pagination8{right: 10%;}
    .without-next-pagination1{right: 15%;}
    
    .with-prev-pagination1{right: 14%;}
	
	/*email subscribe*/
	.footer.newsletter.email {
        float: left;
        height: 30px;
        font-size: 1.5em;
        padding-left: 0%;
        background: #F5F5F5;
        border: 1px solid #000;
		border-bottom: 2px solid rgba(0, 0, 0, 0.58);
    /* border: 0px solid #000; */
		border-right-width: 0px;
		border-left-width: 0px;
		border-top-width: 0px;
        font-family: "gotham-light";
        width: 67%;
        margin-top: 6%;
        letter-spacing: 1px;
    }
	.input-group-addon.subscribe-newsletter { margin-top: 5%; cursor: pointer; float: left; border: 2px solid rgba(0, 0, 0, 0.58); padding-bottom: 1%; padding-right: 11.3%; }
	.email-subscribe{margin-right: 7%; width: 56%; margin-left: 12%;}
	.btn-subscribe{width: 111px; font-family: gotham-light; border-radius: 0; padding: 13px 12px;}
	.img-fb{width: 10.0156px; margin-right: 10px;}
	.img-twitter{width: 21.0156px; margin-right: 10px;}
	.img-instagram{width: 17.0156px; margin-right: 10px;}
	.img-pinterest{width: 15.0156px; margin-right: 10px;}
	.img-line{width: 35.0156px; margin-right: 10px;}
	.padding-img{padding-top: 5%;}

    .caption-home{
        margin-top: 40%;
    }
    .img-responsive-featured{
        height:400px;
    }
    .coba.text-bulkhead{
        font-size: 0.7rem;
    }
     .tag-bellow {
       
        position: absolute;
        height: 32px;
        color: white;
        top: 230px;
        /* bottom: 0; */
        margin-right: 15px;
        width: 92%;
    }
    .tag-mobile-home{
    
    position: absolute;
    height: 32px;
    color: white;
    top: 387px;
    /* bottom: 0; */
    margin-right: 15px;
    width: 92.5%;

    }
    .text-bellow {
            position: absolute;
            height: 36px;
            top: 50%;
            left: 0;
            right: 0;
            margin-left: 12px;
            margin-top: -18px;
            line-height: 36px;
            text-align: left;
            font-family: "gotham-light";
            font-size: 0.8em;
            color: white;
    }

}